Post::create([ 'title' => 'Judul Kelima', 'category_id' => '1', 'slug' =>
'judul-kelima', 'excerpt' => 'Lorem ipsum dolor sit amet consectetur adipisicing
elit. Iure quo labore voluptatum nobis vero? Tenetur voluptas neque iste
voluptatibus deleniti quidem fugit, alias reprehenderit quam eos minima enim
molestias cum.', 'content' => '
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis porro
    similique iste, repellendus velit quas, corrupti neque facere consequuntur
    inventore aliquid aperiam perferendis molestiae qui consequatur eos ex et
    laudantium quibusdam. Natus quibusdam itaque obcaecati consequuntur aliquid
    incidunt beatae quae doloribus asperiores, consequatur, praesentium sapiente
    accusamus? Aperiam, corporis.
</p>

<p>
    Cupiditate culpa rem molestias, iure quidem quis ducimus eum qui tenetur
    blanditiis repudiandae ipsum dignissimos placeat fugiat voluptatum
    laboriosam fugit doloribus. Veniam eligendi tenetur dolore ipsa voluptatibus
    cupiditate minima officia voluptas eius ex quo soluta, eum earum veritatis
    assumenda. Consequuntur eius in velit possimus dolor earum repellat
    voluptate rerum. Quas, laboriosam aliquid.
</p>
' ]); Post::create([ 'title' => 'Judul Kedua', 'category_id' => '2', 'slug' =>
'judul-kedua', 'excerpt' => 'Lorem ipsum dolor sit amet consectetur adipisicing
elit. Iure quo labore voluptatum nobis vero? Tenetur voluptas neque iste
voluptatibus deleniti quidem fugit, alias reprehenderit quam eos minima enim
molestias cum.', 'content' => '
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis porro
    similique iste, repellendus velit quas, corrupti neque facere consequuntur
    inventore aliquid aperiam perferendis molestiae qui consequatur eos ex et
    laudantium quibusdam. Natus quibusdam itaque obcaecati consequuntur aliquid
    incidunt beatae quae doloribus asperiores, consequatur, praesentium sapiente
    accusamus? Aperiam, corporis.
</p>

<p>
    Cupiditate culpa rem molestias, iure quidem quis ducimus eum qui tenetur
    blanditiis repudiandae ipsum dignissimos placeat fugiat voluptatum
    laboriosam fugit doloribus. Veniam eligendi tenetur dolore ipsa voluptatibus
    cupiditate minima officia voluptas eius ex quo soluta, eum earum veritatis
    assumenda. Consequuntur eius in velit possimus dolor earum repellat
    voluptate rerum. Quas, laboriosam aliquid.
</p>
' ]); ` Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
dolor inventore id eligendi aut necessitatibus, expedita aspernatur quod
distinctio quasi. Category::create([ 'name' => 'Tutorials and Guides', 'slug' =>
'tutorials-and-guide', ]); Category::create([ 'name' => 'User Experience',
'slug' => 'user-experience', ]);
